.itemDetailCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
}

.itemDetailCard__img {
  max-width: 500px;
}

.itemDetailCard__img img {
  width: 100%;
}

.itemDetailCard__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.itemDetailCard__right--text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #262626;
  max-width: 500px;
}

.itemDetailCard__right--text--name {
  font-family: cursive;
  font-size: 3rem;
}

.itemDetailCard__right--text--price {
  font-size: 0.9rem;
}

.itemDetailCard__right--text--description {
  font-size: 0.9rem;
  color: #262626;
}

.backIconFs {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .itemDetailCard {
    flex-wrap: wrap;
  }

  .itemDetailCard__right--text--name {
    font-size: 2rem;
  }
}