.itemCount {
  display: flex;
  gap: 0.5rem;
}

.itemCount__counter {
  width: 36px;
  text-align: center;
}

.itemCount__btn {
  background: #262626;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 0.3s;
}

.itemCount__btn:hover {
  background: #555555;
}
