.errorCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.errorCard h1 {
  font-size: 4rem;
  color: red;
  margin-bottom: 10px;
}
