.cartWidget {
  display: flex;
  gap: 2px;
  align-items: end;
}

.cartWidget__icon {
  font-size: 1.4rem;
  transition: all 0.3s;
  color: #000;
  cursor: pointer;
}

.cartWidget__counter {
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
}
