.itemsSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.itemSectionCategories {
  display: flex;
  gap: 1rem;
}

.itemSectionCategories__link {
  text-decoration: none;
  color: #999999;
  font-size: 0.9rem;
  transition: all 0.3s;
}

.itemSectionCategories__link:hover {
  color: #555555;
}
