.header {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
}

.header__logoContainer {
  max-width: 200px;
}

.header__logoContainer img {
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
}

.headerLinks {
  display: flex;
  gap: 2rem;
}

.headerLinks__link {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.headerLinks__link:hover {
  color: #555555;
}
