.itemCard {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  align-items: center;
  border-radius: 11px;
  max-width: 220px;
}

.itemCard__img img {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.itemCard__img img:hover {
  filter: opacity(0.8);
}

.itemCard__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  width: 100%;
}

.itemCard__text--info {
  font-size: 0.8rem;
  color: #999999;
  cursor: pointer;
}
